@import "@styles/mixins.scss";

.createCourseFormPage {
  :global {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    width: 50vw;

    @media(max-width: 1024px) {
      width: 70vw;
    }

    // .TopNavigationCreateCourseForm_topNavBarContainer__8vZcU {
    //   width: 100%;
    // }
  }
} 