@import "@styles/mixins.scss";

.createFormContainer {
  :global {
    .ant-form.ant-form-vertical.css-dev-only-do-not-override-m4timi.createForm{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .ant-form-item-control-input-content input, textarea {
      width: 80vw;
    }

    .form-row, .button-form-row {
      display: flex;
      // justify-content: stretch;
      width: 80vw;
    }

    // .ant-form-item.css-dev-only-do-not-override-m4timi {
    //   width: 50%;
    // }

    .ant-form-item-control-input-content span {
      width: 40vw;
      min-width: 0;
    }

    .buttonNext {
      font-style: italic;
      display: flex;
      justify-self: end;
    }
  }
}
