@import "@styles/mixins.scss";

.publishCourseFormContainer {
  	:global {
		width: 50vw;
		padding: 1rem;
  	
		@media(max-width: 1024px) {
			:global {
				width: 60vw;
			}
		}
		#input_percentage{
			width: 50px;
			border-right: 0;
			&:hover {
				border-color:#d9d9d9;
			}
			&:focus {
				box-shadow: none;
				border-color:#d9d9d9;
			}
		}
		.ant-input-group-wrapper-outlined .ant-input-group-addon{
			background-color: white;
			padding-left:1px;
			border-left: 0;
		}
		.ant-select-selector .ant-select-selection-search-input{
			--tw-ring-shadow: none;
		}
	}
}
